* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFBA00;
    width: 105%;
    height: 105vh;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    /* Ensure the background covers the entire viewport height */

}

.heading {
    background: #000000;
    height: fit-content;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 20px;

}

/*change the logo size to fit with the heading*/
.logo {
    width: 40px;
    height: 40px;
}

.game-info {
    margin-bottom: 30px;
    padding: 20px;
    line-height: 1.7;
    width: fit-content;
    height: 450px;
    background: #000000;
    color: white;
    margin: 15px;
    padding-right: 20px;
    margin-bottom: 10px;

}

.info ol {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 30px;
}

.username,
input {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: #000000;
}

.game-area {
    background: #000000;
    width: 85%;
    font-size: 15px;
    color: #ffffff;
    margin: 20px;
    padding-bottom: 10px;
    margin-top: 100px;
}

.time {
    padding: 20px;
    padding-left: 140px;
    flex-direction: row;
    display: flex;
    font-size: 13px;
}


#questions,
h2 {
    padding: 10px;
    text-align: left;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

/*giving all the buttons same size*/
.start_btn button {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;

}


.exit,
.continue {
    width: fit-content;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Add some spacing between the buttons */

.start_btn button {
    margin-left: 70px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
    margin: 100px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 8px;
}

.btn {
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;

}

/*.btn:hover{
    background-color:rgb(97, 65, 240);
    color:#ffffff;
}*/
.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

.next button {
    width: 75px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    margin-left: 80px;


}

#question h2 {
    padding-left: 20px;

}

#score {

    width: 250px;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 200px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 15px;
    /* Padding around the score block */
    border-radius: 10px;
    /* Rounded corners */
    text-align: center;
    /* Center the text */
    font-size: 20px;
    /* Font size */
    display: block;


}


#restart {
    width: 140px;
    height: 60px;
    display: block;
    margin-top: 40px;
    padding: 30px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
}

#restart:hover {
    background-color: #fcfcfc;
    color: #000000;
}

/* Media query:tablets and larger(768px and up*/
@media screen and (min-width:768px) {
    .heading {

        width: 400px;
        margin: auto;
        margin-top: 100px;
        padding-left: 50px;
        margin-bottom: 20px
    }

    .heading h1 {
        padding-left: 10px;
    }

    #options .btn {
        width: 550px;
    }

    .quiz-area {
        width: 500px;
        margin: auto;
    }

    .start_btn button {
        margin-left: 320px;
        margin-top: 100px;
        width: fit-content;
    }

    .game-info {

        padding: 30px;
        margin: 120px;
        margin-top: 20px;
        padding-left: 10px;
        width: 550px;
    }

    .info {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .username,
    input {
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .time {
        padding-left: 380px;
        font-size: 25px;
    }



    .game-area {
        width: 600px;
        padding: 30px;
        margin: 80px;
        margin-top: 200px;
    }

    #question h2 {
        padding-left: 20px;
        font-size: 30px;

    }

    .next button {
        margin-left: 2l0px;
    }

    #score {

        width: 400px;
        height: 100px;
        margin-left: 180px;
    }
}

/*media query ipad pro */

@media screen and (min-width: 1024px) {
    body {
        height: 130vh;
        /*increase height for fit content*/
    }

    .heading {
        margin: auto;
        margin-top: 90px;
        padding-left: 50px;
        margin-bottom: 20px
    }

    .game-info {
        margin-left: 250px;

    }

    .game-area {
        margin: 200px;
    }

    #options .btn {
        margin: 10px
    }

    .start_btn button {
        margin-left: 480px;
        text-align: center;


    }

    .btn:hover {
        background-color: rgb(97, 65, 240);
        color: #ffffff;
    }

    .next {
        margin: 15px;
        margin-left:135px;

    }

    #score {
        margin-left: 340px;
    }


}

/*media query desktop*/
@media screen and (min-width: 1280px) {

    .start_btn button {
        margin-left: 580px;
        text-align: center;


    }

    #questions,
    h2 {
        padding-left: 20px;
    }
    .time {
        padding-left: 380px;
        font-size: 20px;
    }


    .options {
        padding: 10px;
    }

    .game-info {
        margin-left: 360px;
    }

    .game-area {
        align-content: center;
        padding-left: 50px;
        margin-left: 300px;
        margin-top: 100px;

    }

    #score {
        margin-left: 420px;
        margin-bottom: 40px;
    }

    #restart {
        margin-left: 550px;
    }
}

/*media query desktop*/

@media screen and (min-width: 1504px) {
    .start_btn button {
        margin-left: 700px;
        text-align: center;
    }

    .game-area {
        align-content: center;
        padding-left: 50px;
        margin-left: 600px;
    }

}